html {
  height: 100vh;
  overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  background: #272727;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}
.section1::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("https://assets.architecturaldesigns.com/plan_assets/358585927/large/666251RAF_Render001_1702565479.jpg") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(1);
  filter: blur(2px);

}
.section1, .section2{
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.section2{
  background: #272727;
}
.text{
  top:30%;
  left: 50%;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 5px black,
  5px 5px 70px gray;
  transform:scale(1,1.1) translate(-50%,10%);
}
